<h3 class="text-center">Paper List</h3>

<!-- <div *ngFor="let paper of papers">
  <label>{{paper.data.name}}</label>
</div> -->

<mat-table [dataSource]="papers" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.data.name}} </td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.data.year}} </td>
  </ng-container>

  <!-- Load Column -->
  <ng-container matColumnDef="load">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"><button class="btn btn-sm" (click)="loadPaper(element)"><i class="fas fa-hand-point-right"></i></button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>