<div class="modal-header">
  <h4 class="modal-title">mTute.lk</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
    <quill-editor [(ngModel)]="text">
        <div quill-editor-toolbar>
            <span class="ql-formats">
                <select class="ql-font">
                <option selected></option>
                <option value="serif"></option>
                <option value="monospace"></option>
                </select>
            </span>
            <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
            </span>            
            <span class="ql-formats">
                    <button class="ql-script" value="sub"></button>
                    <button class="ql-script" value="super"></button>
                </span>
            <span class="ql-formats">
                <select class="ql-color"></select>
                <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <select class="ql-align">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
                </select>
            </span>
        </div>
    </quill-editor>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="sendTextBack();activeModal.close('Close click')">Close</button>
</div>