.loading-panel {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1052;
}

.loading-panel-bg {
    background-color: #212121;
    opacity: 0.6;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-percentage {
    color: #f3f3f3;
    position: absolute;
}

.loading-message {
    color: #f3f3f3;
    position: relative;
    top: 72px;
}

.loader {
    border: 4px solid  rgb(65, 177, 218);
    /* Light grey */
    border-top: 4px solid #f3f3f3;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}