<div class="navbar navbar-light">
    <div class="navbar-brand row">
      <div class="d-inline-block align-top vertical-line ml-1 mr-1"></div>
      <h5 class="d-inline-block align-top ml-1 mr-1">mtutue.lk</h5>
    </div>
    <div class="float-right">
      <button class="btn btn-sm">
          <i class="fas fa-user mx-3"></i>
      </button>

      <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-sm"
                  aria-controls="dropdown-basic">
                  <i class="fas fa-ellipsis-v mx-3"></i>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
    </div>
</div>